body{
  margin: 0;
  padding: 0;
  }
li{

  list-style: none;
}
a{
  color: none!important;
  text-decoration: none;
  background-color: transparent;
}
a:hover{
  color: none!important;
  text-decoration: none;
}
