.tittle__logo {
  color: $white !important;
  font-size: $x-large;
  font-family: $playfair;
  font-weight: $boldblack;
}

.tittle__links {
  color: $white !important;
  font-size: $large;
  font-family: $playfair;
  font-weight: $bold;
}

h1 {
  color: $raisin-black;
  font-family: $playfair;
  font-weight: $boldblack;
  font-size: $x-large;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
h2 {
  color: $white;
  font-family: $playfair;
  font-weight: $bold;
  font-size: $x-large;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

p{
  color: $eerie-black;
  font-family: $playfair;
  font-weight: $ligth;
  font-size: $medium;
  text-align: justify;
}
h4{
  color: $raisin-black;
  font-family: $playfair;
  font-weight: $bold;
  font-size: $x-large;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
h3{
  color: $raisin-black;
  font-family: $playfair;
  font-weight: $bold;
  font-size: $x-large;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
