$white: #fff;

$fondoabout: #75AABF;

$fondogalery: #94CEF2;
$rudy-pink: #d76c69;
$verdoso: #038C7F;

$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6c6e70;

$playfair: 'Playfair Display', serif;
$monse: 'Montserrat', sans-serif;


$ligth: 400;
$medium: 500;
$bold: 700;
$boldblack: 900;

//tamaños de fuentes


$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
