.footer{
  background-image: url(../images/footer2.jpg);
  height: 10rem;
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &__icon{
    text-align: center;

      }
      &__icon--color{
        color: $white;
      }
}
