.bg_page_historia{
  background-image: url("../images/bg_historia.jpg");
 background-repeat: no-repeat;
 background-size: cover;
  height: 100%;
  width: 100%;
}
.history{

&__parrafo{
  background-color: $fondo;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  padding-bottom: 3rem;
}
  &__parrafo::before{
    background-color: $fondo;
  }
}
.contacto{
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}
