.Instructora{
  background-color: $rudy-pink;
  height: auto;

}
.PhotographyGalery img{
  width: 100%;
  height: 10rem;
}
.PhotographyGalery{
  background-color: $fondogalery;
    &__presentaciones img{
    border-radius: 25px;
  }
}
.cursos{
height: auto;
  &__imgs img{
         border-radius: 10%;
         height: auto;
  }
  &__contents{

    height: auto;
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: center;
  }
  &__button{
    padding-top: 3rem;

  }
}

.About{
  background-color: $fondoabout !important;
}
.About__button{
  text-align: center;
  padding:  3rem;

}

.form{
  background-color: $verdoso;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__contacto{
  text-align: center;

}
}
