.Instructora{
  height: auto;
  &__boton{
    text-align: center;
  }
}
.cursos{
  height: auto;
  &__imgs img{
    border-radius: 10%;
    height: auto;
  }
  &__contents{

    height: auto;
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: center;
  }
  &__button{
    padding-top: 3rem;

  }
}

.About{

}
.About__button{
  text-align: center;
  padding:  3rem;

}

.form{
  background-color: $verdoso;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__contacto{
    text-align: center;

  }
}
.bg_instructoras{
  background-image: url("../images/bg-cardschicas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}
.BotonContacto_instructora{
  padding-top: 3rem;
  padding-bottom: 4rem;
  text-align: center;
}
 .hoover:hover{
   -webkit-transform: scale(1.01);
   -ms-transform: scale(1.01);
   transform: scale(1.01);

 }
.buttonContactoInstructora:hover{
  background-color: $fondoboton;
}
.card{
  box-shadow: 0.4rem 0.4rem 0.4rem $white;
}
.button_perfilModal:hover{
  background-color: $fondoboton;

}
